<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Flight reservation</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/passengers/1">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aircrafts/1">Aircraft</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routes/31">Route</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
