<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!--    <property name="LOGS" value="./logs"/>-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c{1}:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/auth-service.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                &lt;!&ndash; rollover daily and when the file reaches 10 MegaBytes &ndash;&gt;
                <fileNamePattern>${LOGS}/archived/auth-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>
    -->

    <!--Disabled due to the NumberFormatException what is caused by the bug in Swagger internals-->
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"/>

    <springProfile name="dev">
        <logger name="org.sergei.authservice" level="info, debug"/>

        <root level="info, debug">
            <!--            <appender-ref ref="file"/>-->
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.sergei.authservice" level="info"/>

        <root level="info">
            <!--            <appender-ref ref="file"/>-->
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>
</configuration>