<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight reservation - customer data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Flight reservation application</a>
</nav>
<div class="container">

    <h1>Customer:</h1>
    <div>Customer ID: [[${customerId}]]</div>
    <div>Fist name: [[${firstName}]]</div>
    <div>Last name: [[${lastName}]]</div>
    <div>Age: [[${age}]]</div>

    <p>
        <a href="/customers/1/reservations">Reservations for the first customer</a>
    </p>
    <p>
        <a href="/customers/1/tickets">Tickets for this customer</a>
    </p>

    <h6>Add a new customer:</h6>
    <form th:action="@{/customers}" th:object="${customer}" method="post">
        <p>
            First name:
            <label>
                <input type="text" th:field="*{firstName}">
            </label>
        </p>
        <p>
            Last name:
            <label>
                <input type="text" th:field="*{lastName}">
            </label>
        </p>
        <p>
            Age:
            <label>
                <input type="text" th:field="*{age}">
            </label>
        </p>
        <button>Submit</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>