<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight reservation - customer data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Flight reservation application</a>
</nav>
<div class="container">

    <h1>Reservations for this customer:</h1>
    <div class="row mb-3">
        <div th:each="reservation : ${reservations}" class="col-4 themed-grid-col margin-top-bigger">
            <div>Reservation ID: [[${reservation.reservationId}]]</div>
            <div>Customer ID: [[${reservation.customerId}]]</div>
            <div>Reservation date: [[${reservation.reservationDate}]]</div>

            <h4>Reserved route:</h4>
            <div>Route ID: [[${reservation.reservedRoute.routeId}]]</div>
            <div>Distance: [[${reservation.reservedRoute.distance}]]</div>
            <div>Departure time: [[${reservation.reservedRoute.departureTime}]]</div>
            <div>Arrival time: [[${reservation.reservedRoute.arrivalTime}]]</div>
            <div>Price: [[${reservation.reservedRoute.price}]]</div>
            <div>Place: [[${reservation.reservedRoute.place}]]</div>

            <h4>Aircraft to fly:</h4>
            <div>Aircraft ID: [[${reservation.reservedRoute.aircraft.aircraftId}]]</div>
            <div>Model: [[${reservation.reservedRoute.aircraft.model}]]</div>
            <div>Name: [[${reservation.reservedRoute.aircraft.aircraftName}]]</div>
            <div>Weight: [[${reservation.reservedRoute.aircraft.aircraftWeight}]]</div>
            <div>Max. passengers: [[${reservation.reservedRoute.aircraft.maxPassengers}]]</div>
        </div>
    </div>

    <h6>Make a reservation:</h6>
    <form th:action="@{/reservation/post}" th:object="${reservationPost}" method="post">
        <p>
            Customer ID:
            <label>
                <input type="text" th:field="*{customerId}">
            </label>
        </p>
        <p>
            Route ID:
            <label>
                <input type="text" th:field="*{routeId}"/>
            </label>
        </p>
        <p>
            Date:
            <label>
                <input type="datetime-local" th:field="*{reservationDate}">
            </label>
        </p>
        <button>Submit</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>