<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark flex-row">
    <div class="container">
      <a class="navbar-brand" href="/">Airport management</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/passenger/1">Passenger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aircrafts/1">Aircraft</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/routes/31">Route</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
